{% extends 'base-extended.html' %}
{% load static %}
{% block breadcrumb %}
  <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">Project</h2>
  <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
    <a href="index-2.html">Home</a>
    <span>Project</span>
  </div>
{% endblock %}
{% block body_extended %}
  <main>
    <section>
      <div class="portfolio-details-area pt-120 pb-90" dir="rtl">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="portfolio-details-img mb-40 w_img wow fadeInLeft" data-wow-delay="0.3s">
                <img src="{% static 'assets/img/portfolio/portfolio-details.jpg' %}" alt="Image Not Found" />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="portfolio-details-info ml-40 mb-40">
                <h3 class="portfolio-details-title wow fadeInUp" data-wow-delay="0.1s">لورم ایپسوم متن</h3>
                <p class="wow fadeInUp" data-wow-delay="0.3s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam impedit porro corrupti, maxime molestiae officia mollitia qui consequuntur! Corrupti neque expedita laboriosam exercitationem repderit. Lorem ipsum, dolor sit amet consectetur adipisicing elit veniam impedit porro corrupti.</p>
                <ul class="project-meta_info wow fadeInUp" data-wow-delay="0.5s">
                  <li>
                    <h6><i class="fal fa-user"></i>لورم ایپسوم متن:</h6>
                    <p>لورم ایپسوم متن</p>
                  </li>
                  <li>
                    <h6><i class="fal fa-map-marker-alt"></i>Location :</h6>
                    <p>124, North Street, Florida, USA</p>
                  </li>
                  <li>
                    <h6><i class="fal fa-calendar-alt"></i>Date :</h6>
                    <p>Aug 20, 2021</p>
                  </li>
                  <li>
                    <h6><i class="fal fa-address-book"></i>Project Type :</h6>
                    <p>Home Security</p>
                  </li>
                  <li>
                    <h6><i class="fal fa-user-hard-hat"></i>Architects :</h6>
                    <p>Richard Miller</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="portfolio-details-text mb-20 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="portfolio-details-inner-title">Project Description</h2>
                <p class="mb-30">Neque porro quisquam est, qui is dolor emr ipsum quia dolor sit amet the consec tetur is adipisci velit, sed the quia non num quam. Neque porro quis quam est, qui dolor emr ipsum quia dolor sit amet, consec tetur. Esse mo lestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et ac cumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="portfolio-accordion feature-item pb-15 wow fadeInUp" data-wow-delay="0.5s">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">لورم ایپسوم متن</button></h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Private & Personal Security</button></h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Security For Your House & Garage</button></h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="portfolio-accordion-2 feature-item pb-15 wow fadeInUp" data-wow-delay="0.7s">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">CCTV Cameras For House</button></h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Surveillance Camera Kit</button></h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Electronic Security Device</button></h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3 class="portfolio-details-title portfolio-work-process wow fadeInUp" data-wow-delay="0.1s">Working Process</h3>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.3s">
                <span>01</span>
                <i class="fal fa-cctv"></i>
                <h5>لورم ایپسوم متن</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.4s">
                <span>02</span>
                <i class="fal fa-fingerprint"></i>
                <h5>Access Control</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.5s">
                <span>03</span>
                <i class="fal fa-users"></i>
                <h5>Professional Team</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.6s">
                <span>04</span>
                <i class="fal fa-chart-network"></i>
                <h5>Smart Systems</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.7s">
                <span>05</span>
                <i class="fal fa-usd-circle"></i>
                <h5>Reasonable Pricing</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.8s">
                <span>06</span>
                <i class="fal fa-shield-alt"></i>
                <h5>Security Consulting</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="0.9s">
                <span>07</span>
                <i class="fal fa-cogs"></i>
                <h5>CCTV installation</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="portfolio-overview-item mb-30 wow fadeInUp" data-wow-delay="01s">
                <span>08</span>
                <i class="fal fa-user-headset"></i>
                <h5>24/7 Online Support</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
