{% extends 'base.html' %}
{% load static %}
{% block body %}

  <!-- 404 area start -->
  <div class="error-area bg-default" data-background="{% static 'assets/img/404/bg.jpg' %}" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="error-content text-center">
            <h1 class="error-content-title wow fadeInUp" data-wow-delay="0.1s">404</h1>
            <h2 class="error-content-subtitle wow fadeInUp" data-wow-delay="0.3s">پیج پیدا نشد!</h2>
            <p class="error-content-text wow fadeInUp" data-wow-delay="0.5s">Page does not exist or some other error occured. Go to our Home Page</p>
            <a href="index-2.html" class="theme-btn error-btn wow fadeInUp" data-wow-delay="0.6s">برگشت به خانه</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 404 area end -->
{% endblock %}
