{% extends 'base-extended.html' %}
{% load static %}
{% block breadcrumb %}
  <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">About</h2>
  <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
    <a href="index-2.html">Home</a>
    <span>About</span>
  </div>
{% endblock %}
{% block body_extended %}
  <!-- about area start -->
  <section>
    <div class="about-area pt-120 pb-80" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-area mb-45">
              <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">لورم ایپسوم متن</span>
              <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">لورم ایپسوم متن ساختگی <br /> با تولید سادگی نامفهوم.</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center g-0">
          <div class="col-xl-6 col-lg-6">
            <div class="about-img w_img mb-40 wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'assets/img/about/1.jpg' %}" alt="About Img" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="about-wrap mb-30">
              <div class="about_posts">
                <div class="about_posts-item mb-30">
                  <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.5s">
                    <a href="about.html"><img src="{% static 'assets/img/about/post_1.jpg' %}" alt="Image Not Found" /></a>
                  </div>
                  <div class="about-content wow fadeInRight" data-wow-delay="0.5s">
                    <h4 class="about_content-title"><a href="about.html">لورم ایپسوم متن</a></h4>
                    <p class="about_content-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    <a class="about_content-link" href="about.html">
                      <span>لورم ایپسوم متن</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="about_posts-item">
                  <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.7s">
                    <a href="about.html"><img src="{% static 'assets/img/about/post_2.jpg' %}" alt="Image Not Found" /></a>
                  </div>
                  <div class="about-content wow fadeInRight" data-wow-delay="0.7s">
                    <h4 class="about_content-title"><a href="about.html">لورم ایپسوم متن</a></h4>
                    <p class="about_content-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    <a class="about_content-link" href="about.html">
                      <span>لورم ایپسوم متن</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end -->
  <!-- choose area start -->
  <div class="choose-area pt-110 pb-80" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-area section-white text-center mb-35">
            <span class="section-subtitle mb-2 wow fadeInUp text-white" data-wow-delay="0.1s">We are best</span>
            <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Why choose us?</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="choose-progress pr-20 pb-40">
            <p>Manufacture industry became a key sector of production and labour in North American and European countries during the Industrial Revolution, upsetting previous mercantile and feudal economies.</p>
            <div class="progress-wrap pr-20 mb-30 mb-lg-0">
              <div class="single-progress-bar">
                <div class="progress-label">
                  <span class="label-text">لورم ایپسوم متن</span>
                </div>
                <div class="progress_one"></div>
              </div>
              <div class="single-progress-bar">
                <div class="progress-label">
                  <span class="label-text">لورم ایپسوم متن</span>
                </div>
                <div class="progress_two"></div>
              </div>
              <div class="single-progress-bar">
                <div class="progress-label">
                  <span class="label-text">لورم ایپسوم متن</span>
                </div>
                <div class="progress_three"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="choose-counter pl-20 pb-40">
            <div class="choose-counter-item pb-40 pt-35 pt-sm-0">
              <div class="item-icon">
                <i class="fal fa-cctv"></i>
              </div>
              <div class="item-content">
                <h3 class="content-title"><span class="odometer choose_count" data-count="580">00</span></h3>
                <span class="content-subtitle">لورم ایپسوم متن</span>
              </div>
            </div>
            <div class="choose-counter-item pb-40 pt-35 pt-sm-0">
              <div class="item-icon">
                <i class="fal fa-lock"></i>
              </div>
              <div class="item-content">
                <h3 class="content-title"><span class="odometer choose_count" data-count="245">00</span></h3>
                <span class="content-subtitle">Lock Installed</span>
              </div>
            </div>
            <div class="choose-counter-item pb-40 pb-sm-0 pt-35">
              <div class="item-icon">
                <i class="fal fa-users"></i>
              </div>
              <div class="item-content">
                <h3 class="content-title"><span class="odometer choose_count" data-count="460">00</span></h3>
                <span class="content-subtitle">Active Clients</span>
              </div>
            </div>
            <div class="choose-counter-item pb-40 pb-sm-0 pt-35">
              <div class="item-icon">
                <i class="fal fa-trophy-alt"></i>
              </div>
              <div class="item-content">
                <h3 class="content-title"><span class="odometer choose_count" data-count="65">00</span></h3>
                <span class="content-subtitle">Our awards</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- choose area end -->

  <!-- feature area start -->
  <section>
    <div class="feature-area pt-110 pb-90" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-area text-center mb-35">
              <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Our Features</span>
              <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">What features do we provide?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="feature-wrap">
              <div class="feature-flex">
                <div class="feature-tab mb-25 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fal fa-fingerprint"></i>لورم ایپسوم متن</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fal fa-cogs"></i>CCTV installation</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fal fa-camera-alt"></i>Security Cameras</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fal fa-chart-network"></i>Wireless networking</button>
                    <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill" data-bs-target="#v-pills-five" type="button" role="tab" aria-controls="v-pills-five" aria-selected="false"><i class="fal fa-shield-alt"></i>Security Consulting</button>
                    <button class="nav-link" id="v-pills-six-tab" data-bs-toggle="pill" data-bs-target="#v-pills-six" type="button" role="tab" aria-controls="v-pills-six" aria-selected="false"><i class="fal fa-drone-alt"></i>Drone Camera</button>
                    <button class="nav-link" id="v-pills-seven-tab" data-bs-toggle="pill" data-bs-target="#v-pills-seven" type="button" role="tab" aria-controls="v-pills-seven" aria-selected="false"><i class="fal fa-tv-alt"></i>Smart Systems</button>
                  </div>
                </div>
                <div class="tab-content feature-content wow fadeInUp" data-wow-delay="0.7s" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg'%}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="Expp">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOnepp"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnepp" aria-expanded="true" aria-controls="collapseOnepp">لورم ایپسوم متن</button></h2>
                          <div id="collapseOnepp" class="accordion-collapse collapse show" aria-labelledby="headingOnepp" data-bs-parent="#Expp">
                            <div class="accordion-body_extended">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreepp"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreepp" aria-expanded="false" aria-controls="collapseThreepp">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreepp" class="accordion-collapse collapse" aria-labelledby="headingThreepp" data-bs-parent="#Expp">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourpp"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourpp" aria-expanded="false" aria-controls="collapseFourpp">Electronic Security Device</button></h2>
                          <div id="collapseFourpp" class="accordion-collapse collapse" aria-labelledby="headingFourpp" data-bs-parent="#Expp">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="Exss">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOness"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOness" aria-expanded="true" aria-controls="collapseOness">لورم ایپسوم متن</button></h2>
                          <div id="collapseOness" class="accordion-collapse collapse show" aria-labelledby="headingOness" data-bs-parent="#Exss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreess"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreess" aria-expanded="false" aria-controls="collapseThreess">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreess" class="accordion-collapse collapse" aria-labelledby="headingThreess" data-bs-parent="#Exss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourss" aria-expanded="false" aria-controls="collapseFourss">Electronic Security Device</button></h2>
                          <div id="collapseFourss" class="accordion-collapse collapse" aria-labelledby="headingFourss" data-bs-parent="#Exss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="ExAss">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOneAss"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAss" aria-expanded="true" aria-controls="collapseOneAss">CCTV Cameras For House</button></h2>
                          <div id="collapseOneAss" class="accordion-collapse collapse show" aria-labelledby="headingOneAss" data-bs-parent="#ExAss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeAss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeAss" aria-expanded="false" aria-controls="collapseThreeAss">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreeAss" class="accordion-collapse collapse" aria-labelledby="headingThreeAss" data-bs-parent="#ExAss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourAss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourAss" aria-expanded="false" aria-controls="collapseFourAss">Electronic Security Device</button></h2>
                          <div id="collapseFourAss" class="accordion-collapse collapse" aria-labelledby="headingFourAss" data-bs-parent="#ExAss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="ExDss">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOneDss"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneDss" aria-expanded="true" aria-controls="collapseOneDss">CCTV Cameras For House</button></h2>
                          <div id="collapseOneDss" class="accordion-collapse collapse show" aria-labelledby="headingOneDss" data-bs-parent="#ExDss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeDss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeDss" aria-expanded="false" aria-controls="collapseThreeDss">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreeDss" class="accordion-collapse collapse" aria-labelledby="headingThreeDss" data-bs-parent="#ExDss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourDss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourDss" aria-expanded="false" aria-controls="collapseFourDss">Electronic Security Device</button></h2>
                          <div id="collapseFourDss" class="accordion-collapse collapse" aria-labelledby="headingFourDss" data-bs-parent="#ExDss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-five" role="tabpanel" aria-labelledby="v-pills-five-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="ExFss">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOneFss"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneFss" aria-expanded="true" aria-controls="collapseOneFss">CCTV Cameras For House</button></h2>
                          <div id="collapseOneFss" class="accordion-collapse collapse show" aria-labelledby="headingOneFss" data-bs-parent="#ExFss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeFss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeFss" aria-expanded="false" aria-controls="collapseThreeFss">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreeFss" class="accordion-collapse collapse" aria-labelledby="headingThreeFss" data-bs-parent="#ExFss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourFss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourFss" aria-expanded="false" aria-controls="collapseFourFss">Electronic Security Device</button></h2>
                          <div id="collapseFourFss" class="accordion-collapse collapse" aria-labelledby="headingFourFss" data-bs-parent="#ExFss">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-six" role="tabpanel" aria-labelledby="v-pills-six-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="accordion" id="Exess">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOneEss"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneEss" aria-expanded="true" aria-controls="collapseOneEss">CCTV Cameras For House</button></h2>
                          <div id="collapseOneEss" class="accordion-collapse collapse show" aria-labelledby="headingOneEss" data-bs-parent="#Exess">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeEss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeEss" aria-expanded="false" aria-controls="collapseThreeEss">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreeEss" class="accordion-collapse collapse" aria-labelledby="headingThreeEss" data-bs-parent="#Exess">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourEss"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourEss" aria-expanded="false" aria-controls="collapseFourEss">Electronic Security Device</button></h2>
                          <div id="collapseFourEss" class="accordion-collapse collapse" aria-labelledby="headingFourEss" data-bs-parent="#Exess">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-seven" role="tabpanel" aria-labelledby="v-pills-seven-tab">
                    <div class="feature-item">
                      <div class="feature-item-wrap mb-10">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="feature-item-content mb-30">
                              <h4 class="feature-item-content-title">Safety our main priority</h4>
                              <p class="feature-item-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa alias ut culpa obcaecati facere magnam quibusdam minima possimus, porro ab placeat neque tempore vitae amet expedita autem quidem, repellat doloremque sit ullam perspiciatis.</p>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="feature-item-img w_img mb-30">
                              <img src="{% static 'assets/img/feature/feature-1.jpg' %}" alt="Image Not Found" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion" id="exlast">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOnelast"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnelast" aria-expanded="true" aria-controls="collapseOnelast">CCTV Cameras For House</button></h2>
                          <div id="collapseOnelast" class="accordion-collapse collapse show" aria-labelledby="headingOnelast" data-bs-parent="#exlast">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreelast"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreelast" aria-expanded="false" aria-controls="collapseThreelast">Surveillance Camera Kit</button></h2>
                          <div id="collapseThreelast" class="accordion-collapse collapse" aria-labelledby="headingThreelast" data-bs-parent="#exlast">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingFourlast"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourlast" aria-expanded="false" aria-controls="collapseFourlast">Electronic Security Device</button></h2>
                          <div id="collapseFourlast" class="accordion-collapse collapse" aria-labelledby="headingFourlast" data-bs-parent="#exlast">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam impedit quisquam explicabo dignissimos, ex delectus repellat, enim est eveniet inventore qui animi sunt laborum eos repellendus? Praesentium, sed dolorum.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
