{% extends 'base-extended.html' %}
{% load static %}
{% block breadcrumb %}
  <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">Contact</h2>
  <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
    <a href="index-2.html">Home</a>
    <span>Contact</span>
  </div>
{% endblock %}
{% block body_extended %}
  <!-- about area start -->
  <section>
    <div class="about-area pt-120 pb-80" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-area mb-45">
              <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">لورم ایپسوم متن</span>
              <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">لورم ایپسوم متن ساختگی <br /> با تولید سادگی نامفهوم.</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center g-0">
          <div class="col-xl-6 col-lg-6">
            <div class="about-img w_img mb-40 wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'assets/img/about/1.jpg' %}" alt="About Img" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="about-wrap mb-30">
              <div class="about_posts">
                <div class="about_posts-item mb-30">
                  <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.5s">
                    <a href="about.html"><img src="{% static 'assets/img/about/post_1.jpg' %}" alt="Image Not Found" /></a>
                  </div>
                  <div class="about-content wow fadeInRight" data-wow-delay="0.5s">
                    <h4 class="about_content-title"><a href="about.html">لورم ایپسوم متن</a></h4>
                    <p class="about_content-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    <a class="about_content-link" href="about.html">
                      <span>لورم ایپسوم متن</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="about_posts-item">
                  <div class="about-media w_img wow fadeInLeft" data-wow-delay="0.7s">
                    <a href="about.html"><img src="{% static 'assets/img/about/post_2.jpg' %}" alt="Image Not Found" /></a>
                  </div>
                  <div class="about-content wow fadeInRight" data-wow-delay="0.7s">
                    <h4 class="about_content-title"><a href="about.html">لورم ایپسوم متن</a></h4>
                    <p class="about_content-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    <a class="about_content-link" href="about.html">
                      <span>لورم ایپسوم متن</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end -->
  <!-- contact area start -->
  <section>
    <div class="contact-area pt-110 pb-120" dir="rtl">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-area text-center mb-35">
              <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">لورم ایپسوم متن</span>
              <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="contact-top wow fadeInUp" data-wow-delay="0.3s">
              <div class="contact-top-wrap">
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxOne" value="Access Control Systems" />
                    <span class="single-item-label">لورم ایپسوم متن</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxTwo" value="Automatic Camera" />
                    <span class="single-item-label">Automatic Camera</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxThree" value="Finger Print Access" />
                    <span class="single-item-label">Finger Print Access</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxFour" value="Smart Systems" />
                    <span class="single-item-label">Smart Systems</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxFive" value="CCTV installation" />
                    <span class="single-item-label">CCTV installation</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxSix" value="Security Consulting" />
                    <span class="single-item-label">Security Consulting</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxSeven" value="Wireless networking" />
                    <span class="single-item-label">Wireless networking</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxEight" value="Video Verification" />
                    <span class="single-item-label">Video Verification</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxEight" value="Security Cameras" />
                    <span class="single-item-label">Security Cameras</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxEight" value="surveillance camera" />
                    <span class="single-item-label">surveillance camera</span>
                  </span>
                </div>
                <div class="contact-top-item">
                  <span class="contact-single-item">
                    <input type="checkbox" name="checkboxEight" value="Electronic Security" />
                    <span class="single-item-label">Electronic Security</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="contact-content mb-50 d-block">
              <div class="row">
                <div class="col-xl-4">
                  <div class="contact-content-item contact-item-1">
                    <div class="contact-content-logo w_img">
                      <a href="index-2.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt="Image Not Found" /></a>
                    </div>
                    <div class="contact-content-office">
                      <h3 class="contact-office-title">لورم ایپسوم متن</h3>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="contact-content-item contact-item-2">
                    <h2 class="contact-content-title">لورم<br> ایپسوم متن</h2>
                    <a href="contact.html" class="theme-btn contact-btn">Contact Us</a>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="contact-content-item contact-item-3">
                    <h3 class="contact-address-title">Primary Contact information</h3>
                    <div class="contact-content-address">
                      <ul>
                        <li>
                          <i class="fal fa-phone"></i>
                          <a href="tel:80913450924">809 134 509 24</a>
                        </li>
                        <li>
                          <i class="fal fa-envelope"></i>
                          <a href="mailto:example@email.com">example@email.com</a>
                        </li>
                      </ul>
                    </div>
                    <div class="contact-content-social">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-behance"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-form wow fadeInUp" data-wow-delay="0.5s">
              <form action="#">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <input type="text" placeholder="لورم ایپسوم متن" />
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <input type="email" placeholder="Email Address" />
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <input type="text" placeholder="Phone Number" />
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <input type="text" placeholder="Company Name" />
                  </div>
                  <div class="col-12">
                    <textarea name="message" cols="30" rows="10" placeholder="Write Text Here..."></textarea>
                  </div>
                  <div class="col-12">
                    <button class="theme-btn contact-form-btn">Submit Request</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact area end -->
{% endblock %}
