{% extends 'base-extended.html' %}
{% load static %}
{% block breadcrumb %}
  <h2 class="bn-breadcrumb-title wow fadeInUp" data-wow-delay="0.1s">Search</h2>
  <div class="bn-breadcrumb-list wow fadeInUp" data-wow-delay="0.3s">
    <a href="index-2.html">Home</a>
    <span>Search</span>
  </div>
{% endblock %}
{% block body_extended %}
  <div class="container pt-120 pb-80">
    <!-- shop area start -->
    <section>
      <div class="row">
        <div class="col-12">
          <div class="section-area text-center mb-45">
            <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">Camera Shop</span>
            <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Security Cameras shop</h2>
          </div>
        </div>
      </div>
      <div class="shop-sorting-wrapper mb-30">
        <div class="row align-items-center">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 text-center text-md-start">
            <div class="product__result">
              <p dir="rtl">
                <span>06</span>
                دانه در سبد
              </p>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-6">
            <div class="product__filter-wrapper d-flex align-items-center justify-content-center justify-content-md-end">
              <div class="product__filter-count d-flex align-items-center mb-15">
                <select>
                  <option>Default Sorting</option>
                  <option>Sort By Latest</option>
                  <option>Sort By Popularity</option>
                  <option>Sort By Price</option>
                </select>
                <span>لورم ایپسوم متن</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shop-area pt-115 pb-80" dir="rtl">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="shop-item mb-40 wow fadeInUp" data-wow-delay="0.3s">
                <div class="shop-img w_img">
                  <a href="shop-details.html"><img src="{% static 'assets/img/shop/1.png' %}" alt="Image Not Found" /></a>
                  <div class="shop-cart-action">
                    <div class="shop-cart-icon">
                      <a href="cart.html"><i class="fal fa-shopping-cart"></i> به سبد بیافزایید</a>
                    </div>
                  </div>
                </div>
                <div class="shop-content">
                  <div class="shop-content-rating">
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                  </div>
                  <h3 class="shop-content-title"><a href="shop-details.html">Smart CC Camera</a></h3>
                  <div class="shop-content-price">
                    <a href="#">$299.00</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="shop-item mb-40 wow fadeInUp" data-wow-delay="0.5s">
                <div class="shop-img w_img">
                  <a href="shop-details.html"><img src="{% static 'assets/img/shop/2.png' %}" alt="Image Not Found" /></a>
                  <div class="shop-cart-action">
                    <div class="shop-cart-icon">
                      <a href="cart.html"><i class="fal fa-shopping-cart"></i> Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="shop-content">
                  <div class="shop-content-rating">
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                  </div>
                  <h3 class="shop-content-title"><a href="shop-details.html">External Web Camera</a></h3>
                  <div class="shop-content-price">
                    <a href="#">$299.00</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="shop-item mb-40 wow fadeInUp" data-wow-delay="0.7s">
                <div class="shop-img w_img">
                  <a href="shop-details.html"><img src="{% static 'assets/img/shop/3.png' %}" alt="Image Not Found" /></a>
                  <div class="shop-cart-action">
                    <div class="shop-cart-icon">
                      <a href="cart.html"><i class="fal fa-shopping-cart"></i> Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="shop-content">
                  <div class="shop-content-rating">
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                  </div>
                  <h3 class="shop-content-title"><a href="shop-details.html">CC Tv Bullet Camera</a></h3>
                  <div class="shop-content-price">
                    <a href="#">$299.00</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- shop area end -->
    <!-- service area start -->
    <section>
      <div class="service-area pt-110 pb-120 bg-light" dir="rtl">
        <div class="container">
          <div class="row g-0">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="service-section wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-area">
                  <span class="section-subtitle mb-10">What We Do</span>
                  <h2 class="section-title f-46 mb-0">What Can We Offer Security</h2>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
              <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-img bg-default" data-background="{% static 'assets/img/service/1.jpg' %}"></div>
                <div class="service-icon">
                  <i class="fal fa-cogs"></i>
                </div>
                <div class="service-content">
                  <h3 class="service-content-title"><a href="service-details.html">لورم ایپسوم متن</a></h3>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
              <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-img bg-default" data-background="{% static 'assets/img/service/2.jpg' %}"></div>
                <div class="service-icon">
                  <i class="fal fa-chart-network"></i>
                </div>
                <div class="service-content">
                  <h3 class="service-content-title"><a href="service-details.html">Wireless networking</a></h3>
                  <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
              <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-img bg-default" data-background="assets/img/service/3.jpg"></div>
                <div class="service-icon">
                  <i class="fal fa-fingerprint"></i>
                </div>
                <div class="service-content">
                  <h3 class="service-content-title"><a href="service-details.html">Finger Print Access</a></h3>
                  <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
              <div class="service-item wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-img bg-default" data-background="assets/img/service/4.jpg"></div>
                <div class="service-icon">
                  <i class="fal fa-camera-alt"></i>
                </div>
                <div class="service-content">
                  <h3 class="service-content-title"><a href="service-details.html">Closed Cameras</a></h3>
                  <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 service-border">
              <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-img bg-default" data-background="assets/img/service/5.jpg"></div>
                <div class="service-icon">
                  <i class="fal fa-cctv"></i>
                </div>
                <div class="service-content">
                  <h3 class="service-content-title"><a href="service-details.html">Security Cameras</a></h3>
                  <p>Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling marriage</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- service area end -->
    <!-- blog area start -->
    <section>
      <div class="blog-area pt-110 pb-80" dir="rtl">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-area text-center mb-45">
                <span class="section-subtitle mb-2 wow fadeInUp" data-wow-delay="0.1s">News & Insights</span>
                <h2 class="section-title mb-15 wow fadeInUp" data-wow-delay="0.3s">Latest News & Insights</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="blog-post mb-40 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-post-info">
                  <div class="blog-post-btn">
                    <a href="blog-details.html" class="blog-btn">
                      <span>Read More</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="blog-post-img w_img">
                  <a href="blog-details.html"><img src="{% static 'assets/img/blog/1.jpg' %}" alt="Not Found" /></a>
                  <div class="blog-post-category">
                    <span>Security</span>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-meta">
                    <ul>
                      <li class="post-date">10 Aug 2022</li>
                      <li class="post-author">
                        By <a href="blog-detials.html">demongo</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="post-title"><a href="blog-details.html">Latest Security Technology For Your House & Garage</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="blog-post mb-40 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-post-info">
                  <div class="blog-post-btn">
                    <a href="blog-details.html" class="blog-btn">
                      <span>Read More</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="blog-post-img w_img">
                  <a href="blog-details.html"><img src="{% static 'assets/img/blog/2.jpg' %}" alt="Not Found" /></a>
                  <div class="blog-post-category">
                    <span>Security</span>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-meta">
                    <ul>
                      <li class="post-date">10 Aug 2022</li>
                      <li class="post-author">
                        By <a href="blog-detials.html">demongo</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="post-title"><a href="blog-details.html">Why It Is Important To Install CCTV For Your Security</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="blog-post mb-40 wow fadeInUp" data-wow-delay="0.7s">
                <div class="blog-post-info">
                  <div class="blog-post-btn">
                    <a href="blog-details.html" class="blog-btn">
                      <span>Read More</span>
                      <i class="fal fa-long-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="blog-post-img w_img">
                  <a href="blog-details.html"><img src="{% static 'assets/img/blog/3.jpg' %}" alt="Not Found" /></a>
                  <div class="blog-post-category">
                    <span>Security</span>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-meta">
                    <ul>
                      <li class="post-date">10 Aug 2022</li>
                      <li class="post-author">
                        توسط <a href="blog-detials.html">سیاوش</a>
                      </li>
                    </ul>
                  </div>
                  <h4 class="post-title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- blog area end -->

    <!-- portfolio area start -->
    <section>
      <div class="portfolio-area" dir="rtl">
        <div class="portfolio-wrap">
          <div class="portfolio-controller">
            <div class="swiper-container portfolio-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="controller-item">
                    <div class="controller-icon">
                      <i class="fal fa-camera-alt"></i>
                    </div>
                    <div class="controller-info">
                      <h4>Automatic<br /> Camera</h4>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="controller-item">
                    <div class="controller-icon">
                      <i class="fal fa-fingerprint"></i>
                    </div>
                    <div class="controller-info">
                      <h4>Access<br /> Control</h4>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="controller-item">
                    <div class="controller-icon">
                      <i class="fal fa-tv-alt"></i>
                    </div>
                    <div class="controller-info">
                      <h4>Video<br /> Intercoms</h4>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="controller-item">
                    <div class="controller-icon">
                      <i class="fal fa-chart-network"></i>
                    </div>
                    <div class="controller-info">
                      <h4>Smart<br /> Systems</h4>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="controller-item">
                    <div class="controller-icon">
                      <i class="fal fa-shield-alt"></i>
                    </div>
                    <div class="controller-info">
                      <h4>Electronic<br /> Security</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-navigation">
                <div class="portfolio-swiper-prev">
                  <i class="fal fa-angle-right"></i>
                </div>
                <div class="portfolio-swiper-next">
                  <i class="fal fa-angle-left"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-container portfolio-active">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="portfolio-item bg-default" data-background="{% static 'assets/img/portfolio/1.jpg' %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-8">
                        <div class="portfolio-content">
                          <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Automatic Camera</h2>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                          <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                            <a class="theme-button" href="portfolio-details.html"><span>Read More</span><i class="fal fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item bg-default" data-background="{% static 'assets/img/portfolio/2.jpg' %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-8">
                        <div class="portfolio-content">
                          <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Access Control</h2>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                          <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                            <a class="theme-button" href="portfolio-details.html"><span>Read More</span><i class="fal fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item bg-default" data-background="{% static 'assets/img/portfolio/3.jpg' %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-8">
                        <div class="portfolio-content">
                          <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Video Intercoms</h2>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                          <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                            <a class="theme-button" href="portfolio-details.html"><span>Read More</span><i class="fal fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item bg-default" data-background="{% static 'assets/img/portfolio/4.jpg' %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-8">
                        <div class="portfolio-content">
                          <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Smart Systems</h2>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                          <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                            <a class="theme-button" href="portfolio-details.html"><span>Read More</span><i class="fal fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item bg-default" data-background="{% static 'assets/img/portfolio/5.jpg' %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-8">
                        <div class="portfolio-content">
                          <h2 class="portfolio-content-title wow fadeInUp" data-wow-delay="0.1s">Electronic Security</h2>
                          <p class="wow fadeInUp" data-wow-delay="0.2s">We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                          <div class="theme-buttons wow fadeInUp" data-wow-delay="0.3s">
                            <a class="theme-button" href="portfolio-details.html"><span>Read More</span><i class="fal fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio area end -->
  </div>
{% endblock %}
